.header{
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px auto 20px auto;

    .svg_logo{
        height: 3em;
    }
}